:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-dark: #3c3b3b;
  --color-gray-bright: #a3a3a3;
  --color-red: #ff0000;
  --color-blue-bright: #5fa7ff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}

li {
  list-style: none;
}