/* header area*/
.header_area {
  margin: 0 auto;
  width: 1280px;
}


/* header top area */
.header_top {
  width: 100%;
  height: 30px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.top_list {
  display: flex;
}

.top_list > li {
  margin-left: 30px;
}

.top_link {
  font-size: 12px;
}


/* header main 영역, 
  로고 영역,
  브랜드 이미지로 변경 가능 */
.main_inner {
  display: flex;
  margin-top: 30px;
}

.logo-area {

  height: 40px;
}

.logo {
  font-size: 60px;
  font-weight: 900;
  font-style: oblique;
}


/* main area menu */
.main_list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.main_list > li {
  margin-left: 30px;
}

.main_link {
  font-size: 24px;
  font-weight: 400;
}

.main_first {
  font-weight: 600;
}



/* tab area */
.tab_inner {
  margin-top: 40px;
  height: 40px;
}

.tab_list {
  display: flex;
  float: left;
  align-items: center;
}

.tab_list > li {
  margin-right: 30px;
}

.tab_item {
  font-size: 20px;
  font-weight: 400;;
}

.tab_first {
  display: flex;
  align-items: flex-start;
}

#text_deco {
  color: var(--color-red);
  font-weight: 700;
  font-size: 10px;
}


/* slide show */
.slide_wrapper {
  position: relative; /* pager를 배치하기 위해 */
  overflow: hidden; /* 넘치는 이미지 안 보이기 위해 */
}

.slide_wrapper ul {
  height: 600px;
  position: relative;
}

.slide_wrapper ul li { /* ul 안에 각각의 슬라이드를 절대값으로 배치 */
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-blue-bright);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_wrapper ul li h2 {
  font-size: 6em;
  text-transform: uppercase;
}

/* .slide_wrapper ul li:nth-child(1){
  left: 0%;
}

.slide_wrapper ul li:nth-child(2){
  left: 100%;
}

.slide_wrapper ul li:nth-child(3){
  left: 200%;
} */

.slide_wrapper .pager {  /* 슬라이드 갯수에 따라 pager도 생성*/
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  z-index: 1; /* html에서 슬라이드보다 앞에 입력해 덮이기 때문에 z-index 설정해 줘야 함, 안 쓰게 되면 안 보임 */
}

.slide_wrapper .pager a{
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
  display: flex;
  border-radius: 50%;
  text-indent: -9999em;
}

.slide_wrapper .pager a.active {
  background-color: var(--color-black);
}