:root {
    --color--text: #f0f4ff;
    --color--background: #166cc1;
    --color--point: #fd7575;
}

body {
    margin: 0;
}

a {
    color: var(--color--text);
    text-decoration: none;
}

li {
    list-style: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--color--background);
    color: var(--color--text);
}

.navBar__logo {
    font-size: 24px;
}

#logoColor {
    color: #ff7171;    
}

.navBar__menu {
    display: flex;
    padding-left: 0;
    font-size: 20px;
}

.navBar__menu li {
    padding: 8px 12px;
}

.navBar__menu li:hover {
    background-color: var(--color--point);
    border-radius: 7px;
    font-size: 30px;
    font-weight: 700;
}

.navBar__icon {
    display: flex;
    padding-left: 0;
    font-size: 24px;
}

.navBar__icon li {
    padding: 8px 12px;
}

.navBar__toggleBtn {
    position: absolute;
    right: 20px;
    font-size: 24px;
    display: none;
    color: var(--color--point);
}

#githubColor {
    color: #2b2a2a;
}

#blogColor {
    color: #f033ba;
}

@media screen and (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navBar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navBar__menu li {
        width: 100%;
        text-align: center;
    }

    .navBar__icon {
        display: none;
        justify-content: center;
        width: 100%;   
    }

    .navBar__toggleBtn {
        display: block;
    }

    .navBar__menu.active,
    .navBar__icon.active {
        display: flex;
    }
}